.confirm-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1000; 
}

.confirm-popup {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 450px;
    text-align: center;
}

.confirm-popup h2 {
    margin-bottom: 25px;
    color: rgb(70, 70, 70);
    line-height: 1.4;
}

.confirm-popup button {
    padding: 12px 25px;
    margin: 0 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.15s;
}

.confirm-popup .confirm-btn { 
    background-color: brown; 
    color: white;
}

.confirm-popup .confirm-btn:hover {
    opacity: 0.85;
}

.confirm-popup .cancel-btn {
    background-color: rgb(220, 220, 220); 
}

.confirm-popup .cancel-btn:hover {
    background-color: rgb(200, 200, 200); /* Darker grey on hover */
}

.confirm-popup input {
    height: 35px;
    padding: 5px 15px;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 18px;
    outline: none;
}
.confirm-popup input:focus {
    border: 2px solid brown;
}