.food-display {
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 248px);
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
    justify-content: center;
}